  <div class="main-div center">
    <div class="row">
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Davel Altan</mat-card-title>
            <mat-card-subtitle>3190-</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://image.flaticon.com/icons/svg/2084/2084041.svg"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Desarrollador Web
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Github</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nery Orellana</mat-card-title>
            <mat-card-subtitle>3190-12-2594</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://image.flaticon.com/icons/svg/2084/2084041.svg"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Desarrollador Web
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Github</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Cristian Roca</mat-card-title>
            <mat-card-subtitle>3190-</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://image.flaticon.com/icons/svg/2084/2084041.svg"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Programdor
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
