  <div class="main-div center">
    <div class="row mx-0">
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Davel Altan</mat-card-title>
            <mat-card-subtitle>3190-11-7587</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://avatars3.githubusercontent.com/u/18541497?s=460&u=253f06fc035ba12d3bb703d766ae1748b2e24b70&v=4"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Desarrollador Web
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://github.com/Davel-11" mat-button>Github</a>
            <a href="https://github.com/Davel-11" mat-button>https://github.com/Davel-11</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Nery Orellana</mat-card-title>
            <mat-card-subtitle>3190-12-2594</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://avatars0.githubusercontent.com/u/17126622?s=460&v=4"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Desarrollador Web
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://github.com/naorellana" mat-button>Github</a>
            <a href="https://github.com/naorellana" mat-button>https://github.com/naorellana</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Cristian Roca</mat-card-title>
            <mat-card-subtitle>3190-15-21575</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://image.flaticon.com/icons/svg/2084/2084041.svg"
            alt="Photo of a Shiba Inu"
            style="max-width: 200px;"
          />
          <mat-card-content>
            <p>
              Programador
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
