<div class="main-div center">
  <div class="row">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Compiladores, 2020</mat-card-title>
          <mat-card-subtitle>Ing: en sistemas SJP</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://live.staticflickr.com/1310/536290773_2ea31909bc_m.jpg"
          alt="UMG Sán José Pínula"
          style="max-width: 200px;"
        />
        <mat-card-content>
          <p>
            Proyecto final del curso Compiladores, | Catedaratico: Ing. David Díaz|
            <br />
            Seccion: A, Ingenierí en sistemas, Sán José Pínula
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/Davel-11/compi2020" target="_blank" mat-button>Código fuente
            <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
