<div class="row mx-0 standarpage">
        
        <mat-card class="w-100">        
            <mat-card-header>
          <mat-card-title> Inicio </mat-card-title>
        </mat-card-header>


        <mat-card-content class="row mx-0 px-5">

            <p>Aca iran Datos como, Nombre del proyecto, Link al repositorio, Fecha de creación, Etc etc</p>

        </mat-card-content>


        <!-- <mat-card-actions class="text-right pull-right px-5">
          <button mat-raised-button color="primary" (click)="onSubmit()" >Procesar</button>
        </mat-card-actions> -->

      </mat-card>
      
</div>