.universe {

    .menu-left {
        height: 100vh;
        overflow-y: auto;
        // border-style: solid;
        // border-width: thin;
    }

    .content-right{
        height: 100vh;
        overflow-y: auto;
        // border-style: solid;
        // border-width: thin;
    }

}