<div class="menu-left">

    <div class="row mx-0 imagen">
        <img src="../../../assets/mariano.png" alt="Girl in a jacket" style="max-height: 230px;">
    </div>

    <div class="row mx-0 menu-sec">
        <div class="col-3">
            <mat-icon>home</mat-icon>
        </div>
        <div class="col-9" (click)="navigate('home')">
            Inicio
        </div>
    </div>

    <div class="row mx-0 menu-sec">
        <div class="col-3">
            <mat-icon>accessibility</mat-icon>
        </div>
        <div class="col-9" (click)="navigate('integrantes')">
            Integrantes
        </div>
    </div>

    <div class="row mx-0 menu-sec">
        <div class="col-3">
            <mat-icon>chrome_reader_mode</mat-icon>
        </div>
        <div class="col-9">
            Separadores
        </div>
    </div>

    <div class="row mx-0 menu-sec">
        <div class="col-3">
            <mat-icon>dashboard</mat-icon>
        </div>
        <div class="col-9">
            Generador de Tabla
        </div>
    </div>

</div>
