<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <mat-icon
      (click)="navigate('compilador')"
      [ngClass]="{ 'is-on' : compilador }"
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >home</mat-icon
    >
    <span class="example-spacer"></span>

    <mat-icon
      (click)="navigate('home')"
      [ngClass]="{ 'is-on' : home }"
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >info</mat-icon
    >
    
    <span class="example-spacer"></span>
    <mat-icon
      (click)="navigate('integrantes')"
      [ngClass]="{ 'is-on' : integrantes }"
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >group</mat-icon
    >
    <span class="example-spacer"></span>

